* {margin: 0;
padding: o;
box-sizing: border-box;}
/*shared kora style*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
            .logo h2{  
                font-size: 45px;
                font-weight: 900;
            }
            .color-orange{ color:#FD6E0A }
            .btn{   
                background-color: #fd6e0a;
                border: none;
                padding: 18px 35px;
                border-radius: 5px;
                font-size: 20px;
                font-weight: bold;
                color: white;
            }

        /*main style start*/

header{background-color: rgb(237, 209, 188);
        padding-top: 50px;
}
nav{ 
    width: 71%;
    max-width: 1140px;
    border: 1px solid blue;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
            nav .menu{ 
                list-style-type: none;
                display: flex;
                gap: 51px;
                align-items: center;
            }
            nav .menu a{ font-size: 20px;
                        color: #474747;
                        text-decoration: none;

            }